<form class="form-horizontal">

  <div class="modal-body">
    <legend>
      Add Note
    </legend>


      <div class="form-group row-slim">
        <div class="col-sm-2">
          <label>Video Info</label>
          <input type="text" class="form-control input-sm" ng-model="note.videoId" placeholder="{}"/>
        </div>
        <div class="col-sm-2">
          <label>Time Info</label>
          <input type="text" class="form-control input-sm" ng-model="note.time" placeholder="video time binding"/>
        </div>
      </div>
    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" class="form-control" ng-model="note.title" placeholder="Enter title">
      </div>
    </div>

      <div class="form-group">
        <div class="col-sm-12">
          <textarea class="form-control" cols="30" rows="4" ng-model="note.content" placeholder="Enter your note here"></textarea>
        </div>
      </div>
  </div>

  <div class="modal-footer">
    <button ng-disabled="!note.content" class="btn btn-success" ng-click="saveNote(note)">Save</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
  </div>
</form>
